<html>
  <head>
    <script src="../scripts/index.js"></script>
    <style>
      h1 {
        color: rgb(119, 171, 42);
      }
      .sideways {
        display: flex;
      }
    </style>
  </head>
  <body>
    <h1>Title</h1>
    <p>A paragraph.</p>
    <a href="https://www.kaggle.com" , target="_blank"
      >A link to kaggle website.</a
    >
    <div class="sideways">
      <h2>
        <a href="https://www.karar.com/yazarlar/zafer-acar/">
          <img
            src="https://cdn.karar.com/author/75_b.jpg"
            alt="Zafer hocanin fotosu"
            target="_blank"
            title="Zafer Hoca"
          />
        </a>
      </h2>
      <div>
        <h2>Unordered list example</h2>
        <ul>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </ul>
      </div>
      <div>
        <h2>Ordered list example</h2>
        <ol>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </ol>
      </div>
    </div>
  </body>
</html>
